---
import { business } from "@data/business";
import ElevenMarkers from "./ElevenMarkers.astro";
import FieldSeparator from "./FieldSeparator.astro";

interface Props {
  label: string;
  compact?: boolean;
}

const { label, compact = false } = Astro.props;
---

<div class:list={["club-signature", compact && "club-signature--compact"]}>
  <p>{label}</p>
  <FieldSeparator />
  <strong>{business.slogan}</strong>
  <ElevenMarkers compact />
</div>
